body {
    color: white;
    background-color: black;
}

#main-container {
    padding: 5px;
    display: flex;
}

.pane {
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
}

.button {
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
}

.button:not(:last-child) {
    margin-bottom: 5px;
}

.button:hover {
    color: black;
    background-color: white;
}

#display {
    width: 640px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

#display .dot {
    width: 10px;
    height: 10px;
}

#display .dot-on {
    background-color: white; 
}

#cpu .raw {
    display: flex;
    flex-direction: row;
}

#cpu .raw:not(:last-child) {
    margin-bottom: 5px;
}

#cpu .raw .cell {
    border: 1px solid white;
    width: 3rem;
    padding: 5px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

#cpu .raw .cell:not(:last-child) {
    margin-right: 5px;
}

#cpu .raw .cell.stretch {
    width: 100%;
}
