body {
    color: white;
    background-color: black;
}

#main-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.pane {
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
}

.button {
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
}

.button:not(:last-child) {
    margin-bottom: 5px;
}

.button:hover {
    color: black;
    background-color: white;
}

#display {
    width: 640px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

#display .dot {
    width: 10px;
    height: 10px;
}

#display .dot-on {
    background-color: white; 
}

#cpu .raw {
    display: flex;
}

#cpu .cell {
    text-align: right;
}

#cpu #step {
    border: solid 1px white;
    padding: 5px;
    margin-bottom: 5px;
}

#cpu #register {
    margin-right: 5px;
}

#cpu #register .raw:not(:last-child) {
    margin-bottom: 5px;
}

#cpu #register .cell {
    width: 3rem;
    padding: 5px;
    border: solid 1px white;
}

#cpu #register .cell:not(:last-child) {
   margin-right: 5px;
}

#cpu #register .cell.stretch {
    width: 100%;
}

#cpu #stack {
    border: solid 1px white;
    padding-right: 5px;
}

#cpu #stack .cell {
    width: 5rem;
}

#cpu #stack .raw {
    margin: 0.5rem 0 0.5rem 0;
}
